.quiz__content
{
    position: relative;
    margin: 10px;
    padding: 10px;
}
/*
.quiz__accept
{
    margin-right: 12px;
    margin-left: 500px;
}

.quiz__accept .quiz__decline
{
    margin-right: 12px;
}*/